{{define "common-apps"}}
## readme: get to the point quickly
{{template "readme-be-brief" .}}

## readme in org mode please
{{template "readme-in-org-mode" .}}

## files in txtar format please
{{template "txtar" .}}

## follow solid principles please
{{template "solid-principles" .}}

## silence is golden
{{template "silence-is-golden" .}}
{{end}}
