{{define "logging-to-stderr"}}
We should have logging such that each additional `--verbose` flag will increase log level.

`-v` is an alias for `--verbose`.

When writing log messages, all log messages should be sent to stderr instead of stdout.
{{end}}
