{{define "fabric-source"}}
${FABRIC_SOURCE}
{{end}}

{{define "cli-fails"}}
```echo "hello my name is "[[ name ]]" | ./fabric --dry-run --input-has-vars --config=/tmp/o1.yaml```
{{end}}

{{define "cli"}}
```echo "hello my name is  "[[ name ]]" | ./fabric --dry-run --input-has-vars -v=name:taylor```
{{end}}

{{define "prompt-fabric"}}
I am trying to learn how to use fabric to help with templates.  For example this works fine:
{{template "cli" .}}

but when I have many variables in my template, it becomes a new task to try to manage these commandlines.

It would be ideal if I cound fetch the variables from some config file...and thats why I thought this would work:
{{template "cli-fails" .}}

but it doesn't work

Are you ble to detect if `--config` is the corect switch and if not which switch I should use or maybe you can detect that the functionality I'm after isn't suported?

I've included the fabric source in the <fabric_source/> xml element.

<fabric_source>
{{template "fabric-source" . }}
</fabric_source>
{{end}}

{{define "fabric"}}
{{template "prompt-fabric" .}}
{{end}}

