{{define "readme-be-brief"}}
When writing a readme, please be brief and don't include licensing or contribution sections.

Please always show cheatsheet that demonstates the commandline interface and show this interface in code block with a simple one line comment above the cli indicating briefly its purpose.
{{end}}
