{{define "tldr"}}
Create the TLDR; for this text.

You will not add preamble to your response.

You will not title your response with anything including "TLDR".

Please separate each sentence of your text response with new paragraph.

Only provide that and refrain from adding comments.

When you reply with this TLDR, please don't create an artifact.

Write google search links in markdown that will help me find other use cases or blogs that are centered around this topic.
{{end}}
