{{define "txtar"}}
Show your code as txtar format in a single code block.

Txtar is very simple, its a single text file that contains 1 or more headers like this:
```
-- filename --
```

and then the contents of the file goes directly beneath the header in the txtar file.

Notice how there is no whitespace before or after the -- delimiters in the txt filename delimiters.

So for example if file1.txt has contents "a" and src/file2.c has contents "int i=0;" then the txtar file contents.txtar would look like this:
```
-- file1.txt --
a

-- src/file2.c --
int i=0;
```

And the directory would have this hierarchy:
```
.
├── contents.txtar
├── file1.txt
└── src
    └── file2.c
2 directories, 3 files
```

If we start communicating back and forth using txtar format, then you don't need to send files back unless they are different from what I sent you.

Please make sure that if you have changed any of the files that I sent that you are replying with only those files and when you reply, you're sending me all of your changes including the whole file that was modified.  Show all code that has changed in a single code block using txtar format.

You might be tempted to abbreviate with a comment like this:
```
// ... rest of the file remains unchanged ...
```

but please don't do that...instead write the whole file out as you expect it should be without abbreviating or truncating.

Remember: please show only the files that have changed instead of all of the files.
{{end}}
